.main-container {
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  margin: 0 auto;
  background-color: var(--header-color);
  scroll-margin-top: 100px;
}

.container {
  background-color: var(--background-color);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  scroll-margin-top: 100px;
}

.container.bg-transparent{
  background-color: transparent;
}