.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 15px -9px rgba(0, 0, 0, 0.63);
  background-color: var(--header-color);
  height: 100px;
}
.header__logo {
  width: 80px;
  border-radius: 50%;
  transition: all 1s ease;
}
.header__nav-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.nav-list-item {
  display: flex;
  align-items: center;
}

.nav-list-link {
  text-decoration: none;
  color: var(--text-primary);
  padding: 0.8rem;
  transition: all 0.3s ease;
}
.nav-list-link:hover {
  cursor: pointer;
  transform: scale(1.09);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}
